<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User SignIn</title>
    <link rel="stylesheet" href="/static/css/signup.css">
    <!--Link JS-->
    <script src="/static/js/signup.js"></script>

    <!--Bootstrap link for css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Lottie files-->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Road+Rage&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <div>

        </div>
        <div id="outertitle">
            <span style="font-size:30px;cursor:pointer; margin-left:-6%; color:red" onclick="openNav()">&#9776;Menu</span>
            <div class="logo1">
                <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_xsnsvpbs.json" background="transparent" speed="1" style="width: 9em; height: 9em;" loop autoplay></lottie-player>
            </div>
            <div id="title">
                <h1 id="heading">Techathon Password Reset!!</h1>
            </div>
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">Home</a>
            <a href="/admin">Admin</a>
            <a href="/signup">User-Registration</a>
            <a href="/signin">User-SignIn</a>
        </div>
        <lottie-player id="bgpic" src="https://assets1.lottiefiles.com/private_files/lf30_gcroxmlt.json" background="#ECC0FA" speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
        <div class="text">
            <h1 class="text1">Hack with your answer!!</h1>
            <img class="pic2" src="/static/images/pic4.png">
        </div>
        <div class="form">
            <form method="post" action="">
                <label>Username </label> &nbsp; <input type="email" required placeholder="Enter your mail id" style="margin-left: 17%;" name="uname" autocomplete="off"><br><br>
                <label>Your verification question is : </label> <br><br>
                <select name="security_question">
                    <option value="food">What is your favourite food?</option>
                    <option value="school">What is your first school?</option>
                    <option value="pet">What is your pet name?</option>
                    <option value="hobby">What is your hobby?</option>
                </select><br><br>
                <input type="text" placeholder="Enter your answer" required name="security_answer" autocomplete="off"><br><br>
                <label>Password </label> &nbsp; <input type="password" required placeholder="Enter new password" style="margin-left: 18%;" name="pwd" autocomplete="off"><br><br>
                <label>Confirm Password </label> &nbsp; <input type="password" required placeholder="Re-enter password" name="cpwd" autocomplete="off"><br><br>
                <button type="submit" class="btn btn-primary btn-sm" id="btn-color" style="margin-left: 20%;">Reset Password</button> &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn btn-secondary btn-sm" id="btn-color">Clear</button><br><br>
                <span style="color:red;text-align:center;font-weight:bold;">
                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {{ message }} {% endfor %} {% endif %} {% endwith %}
                </span>
            </form>
        </div>
    </div>

</body>

</html>